@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><div ><h4 id="userli"> Hello @Session["user"].ToString()</h4></div></li>
        <li><a href="#" onclick="Logout();"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        @*<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>*@
    </ul>
}
<script type="text/javascript">
    var rooturl = '@Url.Content("~/")'

    function Logout() {
        window.localStorage.removeItem("AccessToken");
        window.localStorage.removeItem("TokenType");
        sessionStorage.clear();

        var RootUrl = '@Url.Content("~/")';
        $.ajax({
            url: RootUrl + 'Home/Logout',
            dataType: 'html',
            success: function (data) {
                window.location = rooturl + "Home/LoginiBAS";
            }
        });


    }
    </script>