
<script src="~/Scripts/GetCash.js"></script>
<script src="~/Scripts/CommonFunctions.js"></script>
<script src="~/Scripts/SignPopUp.js"></script>

@{
    ViewBag.Title = "GetCashDeposit";
    Layout = "~/Views/Shared/_Layout_2.cshtml";
}

<input id="urlVal" value="@ViewBag.URL" hidden />
<input id="WebImageUrlVal" value="@ViewBag.WebImageURL" hidden />
<input id="PhysicalImageUrlVal" value="@ViewBag.PhysicalImageURL" hidden />
<input id="PageType" value="@ViewBag.PageType" hidden />


<input id="cid" value="@ViewBag.Count_id" hidden />
<input id="refno" value="@ViewBag.RefNo" hidden />


<input id="loginid" value="@Session["Login_Page_Id"]" hidden />
<input id="sniId" name="sniId" value="" hidden />

<input id="BankCode" name="BankCode" value="@Session["BankCode"]" hidden />
<input id="CheckerModule" name="CheckerModule" value="@Session["CheckerModule"]" hidden />
<input id="L2StartLimit" value="@Session["l2startlimit"]" hidden />

<div class="row col-12 mb-3 my-0">
    <form class="d-flex align-items-center" action="#">
        <div class="row">
            <h3 class="mb-0 text-primary position-relative"><span class="bg-200 dark__bg-1100 pe-3">Cash Deposit (Get Cash)</span></h3>
        </div>
        <div class="row">
            <div class="d-grid gap-2 d-md-block">
                <button id="btn_cash" class="btn btn-sm btn-primary me-2" type="button" onclick="fetchCashData();">Get Cash</button>
                <button class="btn btn-danger btn-sm" type="button" data-bs-toggle="modal" data-bs-target="#resetmodal_cash" onclick="ResetCashCall();">Reset</button>
            </div>
        </div>
    </form>
</div>
<div class="row mb-2">
    <div class="col-lg-7 col-md-7 col-sm-12">
        <div class="card">
            <div class="card-body p-2">
                <div class="row">
                    <div class="col-lg-12 ">
                        <div class="form-group row mx-1 mb-0">
                            <div class="form-check form-check-inline col">
                                <label class="form-check-label" for="optionsRadios1">
                                    <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1"
                                           value="option1" onclick="switchimage('frontGimg', 'BOT_RGB')" checked /> Front
                                </label>
                            </div>
                            <div class="form-check col">
                                <label class="form-check-label" for="optionsRadios2">
                                    <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2"
                                           value="option2" onclick="switchimage('backGimg', 'TOP_RGB')" /> Back
                                </label>
                            </div>
                            <div class="form-check col">
                                <label class="form-check-label" for="optionsRadios3">
                                    <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3"
                                           value="option3" onclick="switchimage('frontIRimg', 'BOT_IRR')" /> IR
                                </label>
                            </div>
                            <div class="form-check col">
                                <label class="form-check-label" for="optionsRadios4">
                                    <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios4"
                                           value="option4" onclick="switchimage('waterMark', 'TOP_QIR')" /> WM
                                </label>
                            </div>
                            <div class="col">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="tooltip" onclick="rotateImage();"
                                            data-bs-placement="top" title="Rotate">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z" />
                                            <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <img id="FG" src="" class="img-fluid" style="height: 90%; width:auto" alt="INSTRUMENT" onclick="ChqSlipPopUp();">
                        </div>
                        @*<div id="popup1" style="display: none; background-color: white; position: absolute; top: 0px; z-index: 9999; box-shadow: 6px 6px 5px #888888; border-radius: 6px; border: 1px solid #4f4f4f; max-height: 500px; overflow-y: scroll;">
                                <div id="popup_bar1" style="width: 100%; background-color: #438EB9; color: white; position: relative; top: 0; border-radius: 6px 6px 0 0; text-align: center; height: 24px; cursor: move "><b>Chq/Slip</b><span id="btn_close" onclick="closeButton1()" style="float:right;cursor:pointer;padding-right:6px;">[X]</span></div>
                                <table id="chqSlipTable" style="width:800px;">
                                    <thead style="border:1px solid black;background-color: cadetblue;color:white;">
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>*@


                        <div id="popup1" style="display: none; background-color: white; position: absolute; top: 0px; z-index: 9999; box-shadow: 6px 6px 5px #888888; border-radius: 6px; border: 1px solid #4f4f4f; max-height: 500px; overflow-y: scroll;">
                            <div id="popup_bar1" style="width: 100%; background-color: #438EB9; color: white; position: relative; top: 0; border-radius: 6px 6px 0 0; text-align: center; height: 24px; cursor: move ">
                                <span id="id_title"></span>
                                <span id="btn_close" onclick="closeButton1()" style="float:right;cursor:pointer;padding-right:6px;">[X]</span>
                            </div>
                            <table id="chqSlipTable" style="width:800px;">
                                <thead style="border:1px solid black;background-color: cadetblue;color:white;">
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>

                        <div class="row mt-2">
                            <div class="col-6">
                                <div class="table-responsive">
                                    <table class="table table-sm table-bordered">
                                        <tbody>
                                            <tr>
                                                <td class="text-wrap form-control-sm" style="width:50%;">
                                                    <label style="font-size:14px;">Account No</label>
                                                </td>
                                                <td class="text-wrap form-control-sm" data-bs-toggle="tooltip" data-bs-placement="top"
                                                    title="Account Number">
                                                    <label id="accno"></label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-wrap form-control-sm">
                                                    <label style="font-size:14px;">T. Particular</label>
                                                </td>
                                                <td class="text-wrap form-control-sm" data-bs-toggle="tooltip"
                                                    data-bs-placement="top" title="Transaction Particular">
                                                    <label id="Trans_Par"></label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-wrap form-control-sm">
                                                    <label style="font-size:14px;">Remark 1</label>
                                                </td>
                                                <td class="text-wrap form-control-sm">
                                                    <label id="remark1"></label>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="table-responsive">
                                    <table class="table table-sm table-bordered">
                                        <tbody>
                                            <tr>
                                                <td class="text-wrap form-control-sm" style="width:50%;">
                                                    <label style="font-size:14px;">A/C Holder Name</label>
                                                </td>
                                                <td class="text-wrap form-control-sm" data-bs-toggle="tooltip" data-bs-placement="top"
                                                    title="A/C Holder Name">
                                                    <label id="name"></label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-wrap form-control-sm">
                                                    <label style="font-size:14px;">RPT Code</label>
                                                </td>
                                                <td class="text-wrap form-control-sm" data-bs-toggle="tooltip"
                                                    data-bs-placement="top" title="Report Code">
                                                    <label id="rtp_code"></label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-wrap form-control-sm">
                                                    <label style="font-size:14px;">Remark 2</label>
                                                </td>
                                                <td class="text-wrap form-control-sm">
                                                    <label id="remark2"></label>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-12">
        <div class="card ">
            <!-- <h6 class="text-center mt-3 font-weight-bolder">Credit Account</h6> -->
            <div class="card-body p-2 ">
                <div class="input-group input-group-sm mb-2">
                    <span class="input-group-text"><b>Instrument Amt</b></span>
                    <input id="Instr_Amt" class="form-control" value="" disabled>
                    &nbsp;&nbsp;
                    <span class="input-group-text"><b>Denom Amt</b></span>
                    <input id="D_Amt" class="form-control" value="" disabled>
                </div>
                <div id="div_denom_tbl" class="table-responsive">
                    <table class="table table-sm table-bordered">
                        <thead class="table-secondary">
                            <tr>
                                <th scope="col" style="text-align:center;">Denom</th>
                                <th scope="col"></th>
                                <th scope="col" style="text-align:center;">Cash In</th>
                                <th scope="col" style="text-align:center;">Cash Out</th>
                                <th scope="col" style="text-align:center;">Denom Value</th>
                                <th scope="col" style="text-align:center;">Available Denom</th>
                                <th scope="col" style="text-align:center;">Entry</th>
                            </tr>
                        </thead>
                        <tbody class="">
                            <tr id="row_2000">
                                <td class="text-wrap"><label style="font-size:16px;">2000</label></td>
                                <td class="text-wrap"><label style="font-size:16px;">X</label></td>
                                <td class="text-wrap"><label id="lbl_2000_in" style="font-size:16px;"></label></td>
                                <td class="text-wrap"><label id="lbl_2000_out" style="font-size:16px;"></label></td>
                                <td class="text-wrap"><label id="lbl_2000_DValue" style="font-size:16px;"></label></td>
                                <td class="text-wrap">
                                    <label id="lbl_2000_AValue" style="font-size:16px;"></label>
                                    @*<span class="badge bg-danger" style="font-size: 100%;min-width: 110px !important;">Alert</span>*@
                                </td>
                                <td class="text-wrap">
                                    <input id="input_2000" type="number" min="0" value="0" class="form-control form-control-sm" onkeyup="CashInput('2000')">
                                </td>
                            </tr>
                            <tr id="row_500">
                                <td class="text-wrap"><label style="font-size:16px;">500</label></td>
                                <td class="text-wrap"><label style="font-size:16px;">X</label></td>
                                <td class="text-wrap"><label id="lbl_500_in" style="font-size:16px;"></label></td>
                                <td class="text-wrap"><label id="lbl_500_out" style="font-size:16px;"></label></td>
                                <td class="text-wrap"><label id="lbl_500_DValue" style="font-size:16px;"></label></td>
                                <td class="text-wrap"><label id="lbl_500_AValue" style="font-size:16px;"></label></td>
                                <td class="text-wrap">
                                    <input id="input_500" type="number" min="0" value="0" class="form-control form-control-sm" onkeyup="CashInput('500')">
                                </td>
                            </tr>
                            <tr id="row_200">
                                <td class="text-wrap"><label style="font-size:16px;">200</label></td>
                                <td class="text-wrap"><label style="font-size:16px;">X</label></td>
                                <td class="text-wrap"><label id="lbl_200_in" style="font-size:16px;"></label></td>
                                <td class="text-wrap"><label id="lbl_200_out" style="font-size:16px;"></label></td>
                                <td class="text-wrap"><label id="lbl_200_DValue" style="font-size:16px;"></label></td>
                                <td class="text-wrap"><label id="lbl_200_AValue" style="font-size:16px;"></label></td>
                                <td class="text-wrap">
                                    <input id="input_200" type="number" min="0" value="0" class="form-control form-control-sm" onkeyup="CashInput('200')">
                                </td>
                            </tr>
                            <tr id="row_100">
                                <td class="text-wrap"><label style="font-size:16px;">100</label></td>
                                <td class="text-wrap"><label style="font-size:16px;">X</label></td>
                                <td class="text-wrap"><label id="lbl_100_in" style="font-size:16px;"></label></td>
                                <td class="text-wrap"><label id="lbl_100_out" style="font-size:16px;"></label></td>
                                <td class="text-wrap"><label id="lbl_100_DValue" style="font-size:16px;"></label></td>
                                <td class="text-wrap"><label id="lbl_100_AValue" style="font-size:16px;"></label></td>
                                <td class="text-wrap">
                                    <input id="input_100" type="number" min="0" value="0" class="form-control form-control-sm" onkeyup="CashInput('100')">
                                </td>
                            </tr>
                            <tr id="row_50">
                                <td class="text-wrap"><label style="font-size:16px;">50</label></td>
                                <td class="text-wrap"><label style="font-size:16px;">X</label></td>
                                <td class="text-wrap"><label id="lbl_50_in" style="font-size:16px;"></label></td>
                                <td class="text-wrap"><label id="lbl_50_out" style="font-size:16px;"></label></td>
                                <td class="text-wrap"><label id="lbl_50_DValue" style="font-size:16px;"></label></td>
                                <td class="text-wrap"><label id="lbl_50_AValue" style="font-size:16px;"></label></td>
                                <td class="text-wrap">
                                    <input id="input_50" type="number" min="0" value="0" class="form-control form-control-sm" onkeyup="CashInput('50')">
                                </td>
                            </tr>
                            <tr id="row_20">
                                <td class="text-wrap"><label style="font-size:16px;">20</label></td>
                                <td class="text-wrap"><label style="font-size:16px;">X</label></td>
                                <td class="text-wrap"><label id="lbl_20_in" style="font-size:16px;"></label></td>
                                <td class="text-wrap"><label id="lbl_20_out" style="font-size:16px;"></label></td>
                                <td class="text-wrap"><label id="lbl_20_DValue" style="font-size:16px;"></label></td>
                                <td class="text-wrap"><label id="lbl_20_AValue" style="font-size:16px;"></label></td>
                                <td class="text-wrap">
                                    <input id="input_20" type="number" min="0" value="0" class="form-control form-control-sm" onkeyup="CashInput('20')">
                                </td>
                            </tr>
                            <tr id="row_10">
                                <td class="text-wrap"><label style="font-size:16px;">10</label></td>
                                <td class="text-wrap"><label style="font-size:16px;">X</label></td>
                                <td class="text-wrap"><label id="lbl_10_in" style="font-size:16px;"></label></td>
                                <td class="text-wrap"><label id="lbl_10_out" style="font-size:16px;"></label></td>
                                <td class="text-wrap"><label id="lbl_10_DValue" style="font-size:16px;"></label></td>
                                <td class="text-wrap"><label id="lbl_10_AValue" style="font-size:16px;"></label></td>
                                <td class="text-wrap">
                                    <input id="input_10" type="number" min="0" value="0" class="form-control form-control-sm" onkeyup="CashInput('10')">
                                </td>
                            </tr>
                            <tr id="row_5">
                                <td class="text-wrap"><label style="font-size:16px;">5</label></td>
                                <td class="text-wrap"><label style="font-size:16px;">X</label></td>
                                <td class="text-wrap"><label id="lbl_5_in" style="font-size:16px;"></label></td>
                                <td class="text-wrap"><label id="lbl_5_out" style="font-size:16px;"></label></td>
                                <td class="text-wrap"><label id="lbl_5_DValue" style="font-size:16px;"></label></td>
                                <td class="text-wrap"><label id="lbl_5_AValue" style="font-size:16px;"></label></td>
                                <td class="text-wrap">
                                    <input id="input_5" type="number" min="0" value="0" class="form-control form-control-sm" onkeyup="CashInput('5')">
                                </td>
                            </tr>
                            <tr id="row_2">
                                <td class="text-wrap"><label style="font-size:16px;">2</label></td>
                                <td class="text-wrap"><label style="font-size:16px;">X</label></td>
                                <td class="text-wrap"><label id="lbl_2_in" style="font-size:16px;"></label></td>
                                <td class="text-wrap"><label id="lbl_2_out" style="font-size:16px;"></label></td>
                                <td class="text-wrap"><label id="lbl_2_DValue" style="font-size:16px;"></label></td>
                                <td class="text-wrap"><label id="lbl_2_AValue" style="font-size:16px;"></label></td>
                                <td class="text-wrap">
                                    <input id="input_2" type="number" min="0" value="0" class="form-control form-control-sm" onkeyup="CashInput('2')">
                                </td>
                            </tr>
                            <tr id="row_1">
                                <td class="text-wrap"><label style="font-size:16px;">1</label></td>
                                <td class="text-wrap"><label style="font-size:16px;">X</label></td>
                                <td class="text-wrap"><label id="lbl_1_in" style="font-size:16px;"></label></td>
                                <td class="text-wrap"><label id="lbl_1_out" style="font-size:16px;"></label></td>
                                <td class="text-wrap"><label id="lbl_1_DValue" style="font-size:16px;"></label></td>
                                <td class="text-wrap"><label id="lbl_1_AValue" style="font-size:16px;"></label></td>
                                <td class="text-wrap">
                                    <input id="input_1" type="number" min="0" value="0" class="form-control form-control-sm" onkeyup="CashInput('1')">
                                </td>
                            </tr>
                            <tr id="row_50p">
                                <td class="text-wrap"><label style="font-size:16px;">0.5</label></td>
                                <td class="text-wrap"><label style="font-size:16px;">X</label></td>
                                <td class="text-wrap"><label id="lbl_50p_in" style="font-size:16px;"></label></td>
                                <td class="text-wrap"><label id="lbl_50p_out" style="font-size:16px;"></label></td>
                                <td class="text-wrap"><label id="lbl_50p_DValue" style="font-size:16px;"></label></td>
                                <td class="text-wrap"><label id="lbl_50p_AValue" style="font-size:16px;"></label></td>
                                <td class="text-wrap">
                                    <input id="input_50p" type="number" min="0" value="0" class="form-control form-control-sm" onkeyup="CashInput('50p')">
                                </td>
                            </tr>
                            <tr>
                                <td class="text-wrap"><label style="font-size:16px;">Total</label></td>
                                <td class="text-wrap"><label style="font-size:16px;">X</label></td>
                                <td class="text-wrap"><label id="lbl_total_in" style="font-size:16px;"></label></td>
                                <td class="text-wrap"><label id="lbl_total_out" style="font-size:16px;"></label></td>
                                <td class="text-wrap"><label id="lbl_total_DValue" style="font-size:16px;"></label></td>
                                <td class="text-wrap"><label id="lbl_total_AValue" style="font-size:16px;"></label></td>
                                <td class="text-wrap">
                                    <div id="div_out_box" class="form-check">
                                        <input class="form-check-input" id="outbox" type="checkbox" onclick="CashInput('CheckBox');" />
                                        <label class="form-check-label" for="outbox">Out</label>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td class="text-wrap" colspan="7">
                                    <div class="input-group input-group-sm">
                                        <div class="col-sm-7"></div>
                                        <div class="col-sm-5">
                                            <button id="btn_insert_cash" class="btn btn-sm btn-secondary" onclick="ManualDataEntry()">Insert Cash</button>
                                            <a id="btn_submit" href="#authenticationmodal" data-bs-toggle="modal">
                                                <button class="btn btn-primary btn-sm" onclick="VerifyCashData();">Submit</button>
                                            </a>
                                            @*<button class="btn btn-primary btn-sm" href="#confirmation-modal" data-bs-toggle="modal">Submit</button>*@
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="text-center">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Authentication Model on submit -->
<div class="modal fade" id="authenticationmodal" tabindex="-1" role="dialog" aria-labelledby="authentication-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable mt-6" role="document">
        <div class="modal-content border-0">
            <div class="modal-header px-5 position-relative modal-shape-header bg-shape">
                <div class="position-relative z-1" data-bs-theme="light">
                    <h4 class="mb-0 text-white" id="authentication-modal-label">Verification</h4>
                </div>
                <button class="btn-close btn-close-white position-absolute top-0 end-0 mt-2 me-2" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body py-2 px-1">
                <table id="tbl_verf_fail" class="table table-sm">
                    <tbody>
                        <tr>
                            <th class="text-wrap">Error Msg</th>
                            <td class="text-wrap">
                                <lable id="errorMsg" class="badge badge-sm bg-warning" style="font-size:15px;"></lable>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table id="tbl_verf_result" class="table table-sm">
                    <tbody>
                        <tr>
                            <th class="text-wrap">Response</th>
                            <td class="text-wrap">
                                <lable id="successMsg" class="badge badge-sm bg-success" style="font-size:15px;"></lable>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div id="div_submit_fail" class="row g-2 mt-2 mx-4">
                    <label class="col-sm-10"></label>
                    <div id="btn_postdata" class="col-sm-2">
                        <a class="btn btn-primary btn-sm d-block w-100" data-bs-dismiss="modal">OK</a>
                    </div>
                </div>
                <div id="div_response_success" class="row g-2 mt-2 mx-4">
                    <label class="col-sm-10"></label>
                    <div id="btn_postdata" class="col-sm-2">
                        <a class="btn btn-primary btn-sm d-block w-100" data-bs-dismiss="modal" onclick="returnToCheckerList()">OK</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of Authentication Model on submit -->

<script type="text/javascript">

    var rooturl = '@Url.Content("~/")';
    var PerviousType = "";
    var PageType = "";
    var access_token = window.localStorage.getItem('AccessToken');
    var bearer = window.localStorage.getItem('TokenType');
    var authHeaders = {};
    authHeaders.Authorization = bearer + " " + access_token;
    var x = "";
    var refno = "";
    var username = "";

    var BankCode = "";
    var imgRotateVal = 0;

    var outputData = true;
    var paise_50 = "0.5";

    $("#div_denom_tbl").hide();

    $(document).ready(function () {
        debugger;

        $("#ProcessingBar").show();

        var refno = document.getElementById("refno").value;
        var id = document.getElementById("cid").value;
        username = document.getElementById("loginid").value;

        x = document.getElementById("urlVal").value;
        var y = 'getWithdrawData';
        PageType = document.getElementById("PageType").value;

        BankCode = document.getElementById("BankCode").value;

        $.ajax({
            type: "POST",
            url: rooturl + "Home/ValidateSession",
            data: {},
            datatype: "json",
            success: function (data) {
                if (data == "False") {
                    window.location = rooturl + "Home/LoginiBAS?cond=1";
                }
            }
        });

        debugger;

        $.ajax({
            url: x + y,
            headers: authHeaders,
            type: 'POST',
            data: { 'CheckerId': username, 'TransactionRefNo': refno, 'count_id': id, 'btnVal': 'CASH' },
            success: getResult
            //error: getError2
        });

    });


</script>