
@{
    ViewBag.Title = "ClosedAccForm";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<input type="hidden" id="tellerDetails" value="@Session["Login_Page_Id"].ToString()" />
<input id="urlVal" value="@ViewBag.URL" hidden />
<input id="WebImageUrlVal" value="@ViewBag.WebImageURL" hidden />
<input id="PhysicalImageUrlVal" value="@ViewBag.PhysicalImageURL" hidden />
<input id="RtgsNeftForm" value="@ViewBag.RtgsNeftForm" hidden />

<input id="RecordId" value="@ViewBag.RecordId" hidden />
<input id="sni_id" value="" hidden />

<input id="bankcode" name="bankcode" value="@Session["BankCode"]" hidden />

<script type="text/javascript">

    $(document).ready(function () {

        var x = document.getElementById("urlVal").value;
        var y = "getFixDepositFormData";
        var userId = document.getElementById("tellerDetails").value;

        var count_id = document.getElementById("RecordId").value;

        debugger;

        var access_token = window.localStorage.getItem('AccessToken');
        var bearer = window.localStorage.getItem('TokenType');
        var gusername = window.localStorage.getItem('username');
        //var gusername = "MERAJ";
        var authHeaders = {};
        var ProcessType = "";
        authHeaders.Authorization = bearer + " " + access_token;

        //var today = new Date();
        //var dd = String(today.getDate()).padStart(2, '0');
        //var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
        //var yyyy = today.getFullYear();

        //today = yyyy + '/' + mm + '/' + dd;

        $.ajax({
            url: x + y,
            headers: authHeaders,
            type: 'POST',
            //data: { 'pType': 'RTGS', 'INtellerid': userId },
            data: { 'count_id': count_id },
            success: function (result) {
                FixDepositFormData(result);
            },
            error: getError
        });

    });

    function getError(result) {
        var rooturl = '@Url.Content("~/")';

        if (result.status == 401 && result.statusText == "Unauthorized") {
            alert(result.responseText);
            window.location = rooturl + "home/Login";
        }
        else {
            alert(result.responseText);
        }
    }

    function DateValidation(result) {
        var date = result;
        debugger;
        if (date == null || date == "") {
            alert("Date field is blank!");
            document.getElementById("date").focus;
            //ValidationPassed = false;
            return false;
        }

        var dd = date.substring(0, 2);
        var mm = date.substring(3, 5);
        var yyyy = date.substring(6, 10);



        if (!dd.match(/^\d+/) || !mm.match(/^\d+/) || !yyyy.match(/^\d+/)) {
            alert("Alert! Enter Cheque Date in dd-mm-yyyy format!");
            document.getElementById("date").focus;
            //ValidationPassed = false;
            return false;
        }

        var j1 = date.substring(2, 3);
        var j2 = date.substring(5, 6);


        if (j1 != "-" || j2 != "-") {
            alert("Alert! Enter Cheque Date in dd-mm-yyyy format!");
            document.getElementById("date").focus;
            //ValidationPassed = false;
            return false;
        }

        var fDate = dd + '-' + mm + '-' + yyyy;
        var dateResult = validatedate(fDate);

        if (dateResult == false) {
            alert("Alert! Enter proper Cheque Date!");
            document.getElementById("date").focus;
            //ValidationPassed = false;
            return false;
        }
    }

    function validatedate(inputText) {


        var dateformat = /^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$/;
        // Match the date format through regular expression
        if (inputText.match(dateformat)) {
            //document.form1.text1.focus();
            //Test which seperator is used '/' or '-'
            var opera1 = inputText.split('/');
            var opera2 = inputText.split('-');
            lopera1 = opera1.length;
            lopera2 = opera2.length;
            // Extract the string into month, date and year
            if (lopera1 > 1) {
                var pdate = inputText.split('/');
            }
            else if (lopera2 > 1) {
                var pdate = inputText.split('-');
            }
            var dd = parseInt(pdate[0]);
            var mm = parseInt(pdate[1]);
            var yy = parseInt(pdate[2]);
            // Create list of days of a month [assume there is no leap year by default]
            var ListofDays = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31];
            if (mm == 1 || mm > 2) {
                if (dd > ListofDays[mm - 1]) {
                    alert('Invalid date!');
                    return false;
                }
            }
            if (mm == 2) {
                var lyear = false;
                if ((!(yy % 4) && yy % 100) || !(yy % 400)) {
                    lyear = true;
                }
                if ((lyear == false) && (dd >= 29)) {
                    alert('Invalid date!');
                    return false;
                }
                if ((lyear == true) && (dd > 29)) {
                    alert('Invalid date!');
                    return false;
                }
            }
            return true;
        }
        else {
            alert("Invalid date !");
            //  document.form1.text1.focus();
            return false;
        }
        //  return true;
    }

    function FixDepositFormData(result) {
        debugger;
        var fg = null;

        document.getElementById("sni_id").value = result.sni_id;

        document.getElementById("FrontImg").src = result.frontgreyimagepath;
        //document.getElementById("remittance_type").value = result.RemittanceType;
        //document.getElementById("branch").value = result.Branch;
        //document.getElementById("date").value = result.Date;
        //document.getElementById("debitAccNo").value = result.DebitAccNo;
        //document.getElementById("Chqno").value = result.ChqNo;
        //document.getElementById("amt").value = result.Amount;
        //document.getElementById("amtinwords").value = result.AmountInWords;
        //document.getElementById("PurposeCode").value = result.PurposeCode;
        //document.getElementById("BeneficiaryAccType").value = result.BeneficiaryAccType;
        //document.getElementById("BeneficiaryName").value = result.BeneficiaryName;
        //document.getElementById("BeneficiaryAccNo").value = result.BeneficiaryAccNo;
        //document.getElementById("cBeneficiaryAccNo").value = result.cBeneficiaryAccNo;
        //document.getElementById("BeneficiaryIFSCCode").value = result.BeneficiaryIFSCCode;
        //document.getElementById("BeneficiaryBank").value = result.BeneficiaryBank;
        //document.getElementById("BeneficiaryBranch").value = result.BeneficiaryBranch;
        //document.getElementById("Name").value = result.DebitName;
    }


    function SubmitData() {
        debugger;
        var count_id = document.getElementById("RecordId").value;
        var sni_id = document.getElementById("sni_id").value;

        var x = document.getElementById("urlVal").value;
        var y = "postFixDepositData";

        debugger;
        $.ajax({
            url: x + y,
            headers: authHeaders,
            type: 'POST',
            data: {
                Status: 'SUBMIT', count_id: count_id, sni_id: sni_id
            },
            success: function (result) {
                PostFixDepositSuccess(result);
            },
            error: getError
        });

    }

    function PostFixDepositSuccess(result) {
        alert(result);

        var rooturl = '@Url.Content("~/")';

        window.open(rooturl + "RtgsNeft/ClosedAccountList", "_self");
    }

</script>


<div class="main-content-inner">
    <div class="page-content">
        <div class="page-header">
            <h1>
                Close Account Form
            </h1>
        </div>
        <div class="page-content">
            <div class="col-sm-12">
                <div class="col-sm-4" style="border-color:black">

                    <div class="row">
                        <label class="col-sm-5"><b>Form Date:</b></label>
                        <input id="formDate" placeholder="dd-MM-yyyy" style="width:110px;" />
                    </div>
                    <br />
                    <div class="row">
                        <label><b>I / We request you to close my / our Savings / Current Account</b></label>
                    </div>
                    <br />
                    <div class="row">
                        <label class="col-sm-5"><b>First Account Holder:</b></label>
                        <input id="branchName" />
                    </div>
                    <br />
                    <div class="row">
                        <label class="col-sm-5"><b>Second Account Holder:</b></label>
                        <input id="branchName" />
                    </div>
                    <br />
                    <div class="row">
                        <label class="col-sm-5"><b>Third Account Holder:</b></label>
                        <input id="branchName" />
                    </div>
                    <br />
                    <div class="row">
                        <label><b>Please check the appropriate options</b></label>
                    </div>
                    <br />
                    <div class="row">
                        <label class="col-sm-5" for="option1"><b>Saving/Current Account</b></label>
                        <input class="col-sm-1" id="option1" name="option1" type="checkbox" />
                        <label class="col-sm-5" for="option2"><b>Deposit Account</b></label>
                        <input class="col-sm-1" id="option2" name="option2" type="checkbox" />
                    </div>
                    <br />
                    <div class="row">
                        <label class="col-sm-5" for="option3"><b>TPP / ISA</b></label>
                        <input class="col-sm-1" id="option3" name="option3" type="checkbox" />
                        <label class="col-sm-5" for="option4"><b>Trading Account</b></label>
                        <input class="col-sm-1" id="option4" name="option4" type="checkbox" />
                    </div>
                    <br />
                    <div class="row">
                        <label class="col-sm-5" for="option5"><b>Loan</b></label>
                        <input class="col-sm-1" id="option5" name="option5" type="checkbox" />
                        <label class="col-sm-5" for="option6"><b>Gold Loan</b></label>
                        <input class="col-sm-1" id="option6" name="option6" type="checkbox" />
                    </div>
                    <br />
                    <div class="row">
                        <label class="col-sm-5" for="option7"><b>Locker</b></label>
                        <input class="col-sm-1" id="option7" name="option7" type="checkbox" />
                        <label class="col-sm-5" for="option8"><b>SI for Kids</b></label>
                        <input class="col-sm-1" id="option8" name="option8" type="checkbox" />
                    </div>
                    <br />
                    <div class="row">
                        <label class="col-sm-5" for="option9"><b>Credit Card</b></label>
                        <input class="col-sm-1" id="option9" name="option9" type="checkbox" />
                        <label class="col-sm-5" for="option10"><b>Other ECS / SI</b></label>
                        <input class="col-sm-1" id="option10" name="option10" type="checkbox" />
                    </div>
                    <br />
                    <div class="row">
                        <label class="col-sm-5"><b>Saving / Current Account:</b></label>
                        <input id="branchName" />
                    </div>
                    <br />
                    <div class="row">
                        <label><b>Reason (Please tick any one serial number)</b></label>
                    </div>
                    <br />
                    <div class="row">
                        <label class="col-sm-10" for="op1"><b>1) Branch/ATM of other bank is suitably located</b></label>
                        <input class="col-sm-2" type="checkbox" id="op1" />
                    </div>
                    <br />
                    <div class="row">
                        <label class="col-sm-10" for="op2"><b>2) Product deficiency</b></label>
                        <input class="col-sm-2" type="checkbox" id="op2" />
                    </div>
                    <br />
                    <div class="row">
                        <label class="col-sm-10" for="op3"><b>3) Specific product facility no longer required</b></label>
                        <input class="col-sm-2" type="checkbox" id="op3" />
                    </div>
                    <br />
                    <div class="row">
                        <label class="col-sm-10" for="op4"><b>4) Unhappy with service provided</b></label>
                        <input class="col-sm-2" type="checkbox" id="op4" />
                    </div>
                    <br />
                    <div class="row">
                        <label class="col-sm-10" for="op5"><b>5) Corporate Salary Account - Employer changed</b></label>
                        <input class="col-sm-2" type="checkbox" id="op5" />
                    </div>
                    <br />
                    <div class="row">
                        <label class="col-sm-10" for="op6"><b>6) Service charges/AMB related</b></label>
                        <input class="col-sm-2" type="checkbox" id="op6" />
                    </div>
                    <br />
                    <div class="row">
                        <label class="col-sm-10" for="op7"><b>7) Recurring Deposit-Premature Closure/Matured RD</b></label>
                        <input class="col-sm-2" type="checkbox" id="op7" />
                    </div>
                    <br />
                    <div class="row">
                        <label class="col-sm-10" for="op8"><b>8) Transferred to a non-HDFC Bank branch location</b></label>
                        <input class="col-sm-2" type="checkbox" id="op8" />
                    </div>
                    <br />
                    <div class="row">
                        <label class="col-sm-10" for="op9"><b>9) Customer deceased</b></label>
                        <input class="col-sm-2" type="checkbox" id="op9" />
                    </div>
                    <br />
                    <div class="row">
                        <label class="col-sm-10" for="op10"><b>10) Consolidating Bank Account within HDFC Bank</b></label>
                        <input class="col-sm-2" type="checkbox" id="op10" />
                    </div>



                    <br />
                    <div class="row">
                        @*<input type="button" id="btnReset" value="Back" class="btn" style="color:white;font-size: 13px; padding: 2px; width: 95px;" onclick="BackBtn();" />
            <input type="button" id="btnReset" value="Reset" class="btn" style="color:white;font-size: 13px; padding: 2px; width: 95px;" onclick="ResetData();" />*@
                        <input type="button" id="btnSubmit" value="Submit" class="btn" style="color:white;font-size: 13px; padding: 2px; width: 95px;" onclick="SubmitData();" />
                    </div>
                </div>
                <div class="col-sm-8">
                    <img id="FrontImg" src="" style="width:100%" />
                </div>
            </div>
        </div>
    </div>
</div>