
@{
    ViewBag.Title = "RtgsForm";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<input id="L2StartLimit" value="@Session["l2startlimit"]" hidden />
<input id="L3StartLimit" value="@Session["l3startlimit"]" hidden />
<input id="CheckerModule" value="@Session["CheckerModule"]" hidden />

<input type="hidden" id="tellerDetails" value="@Session["Login_Page_Id"].ToString()" />
<input id="urlVal" value="@ViewBag.URL" hidden />
<input id="WebImageUrlVal" value="@ViewBag.WebImageURL" hidden />
<input id="PhysicalImageUrlVal" value="@ViewBag.PhysicalImageURL" hidden />
<input id="RtgsNeftForm" value="@ViewBag.RtgsNeftForm" hidden />

<input id="RecordId" value="@ViewBag.RecordId" hidden />
<input id="sni_id" value="" hidden />

<input id="bankcode" name="bankcode" value="@Session["BankCode"]" hidden />

<script type="text/javascript">
    $(document).ready(function () {

        var x = document.getElementById("urlVal").value;
        var y = "getRtgsFormData";
        var userId = document.getElementById("tellerDetails").value;

        var count_id = document.getElementById("RecordId").value;

        debugger;

        var access_token = window.localStorage.getItem('AccessToken');
        var bearer = window.localStorage.getItem('TokenType');
        var gusername = window.localStorage.getItem('username');
        //var gusername = "MERAJ";
        var authHeaders = {};
        var ProcessType = "";
        authHeaders.Authorization = bearer + " " + access_token;

        //var today = new Date();
        //var dd = String(today.getDate()).padStart(2, '0');
        //var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
        //var yyyy = today.getFullYear();

        //today = yyyy + '/' + mm + '/' + dd;

        $.ajax({
            url: x + y,
            headers: authHeaders,
            type: 'POST',
            //data: { 'pType': 'RTGS', 'INtellerid': userId },
            data: { count_id: count_id, username: gusername, rtgs_type: "01_02" },
            success: function (result) {
                RtgsFormData(result);
            },
            error: getError
        });
    });

    function getError(result) {
        var rooturl = '@Url.Content("~/")';

        if (result.status == 401 && result.statusText == "Unauthorized") {
            alert(result.responseText);
            window.location = rooturl + "home/Login";
        }
        else {
            alert(result.responseText);
        }
    }

    function DateValidation(result) {
        var date = result;
        debugger;
        if (date == null || date == "") {
            alert("Date field is blank!");
            document.getElementById("date").focus;
            //ValidationPassed = false;
            return false;
        }

        var dd = date.substring(0, 2);
        var mm = date.substring(3, 5);
        var yyyy = date.substring(6, 10);



        if (!dd.match(/^\d+/) || !mm.match(/^\d+/) || !yyyy.match(/^\d+/)) {
            alert("Alert! Enter Date in dd-mm-yyyy format!");
            document.getElementById("date").focus;
            //ValidationPassed = false;
            return false;
        }

        var j1 = date.substring(2, 3);
        var j2 = date.substring(5, 6);


        if (j1 != "-" || j2 != "-") {
            alert("Alert! Enter Date in dd-mm-yyyy format!");
            document.getElementById("date").focus;
            //ValidationPassed = false;
            return false;
        }

        var fDate = dd + '-' + mm + '-' + yyyy;
        var dateResult = validatedate(fDate);

        if (dateResult == false) {
            //alert("Alert! Enter proper Date!");
            document.getElementById("date").focus;
            //ValidationPassed = false;
            return false;
        }
    }

    function validatedate(inputText) {

        debugger;

        var dateformat = /^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$/;
        // Match the date format through regular expression
        if (inputText.match(dateformat)) {
            //document.form1.text1.focus();
            //Test which seperator is used '/' or '-'
            var opera1 = inputText.split('/');
            var opera2 = inputText.split('-');
            lopera1 = opera1.length;
            lopera2 = opera2.length;
            // Extract the string into month, date and year
            if (lopera1 > 1) {
                var pdate = inputText.split('/');
            }
            else if (lopera2 > 1) {
                var pdate = inputText.split('-');
            }
            var dd = parseInt(pdate[0]);
            var mm = parseInt(pdate[1]);
            var yy = parseInt(pdate[2]);
            // Create list of days of a month [assume there is no leap year by default]
            var ListofDays = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31];

            var currentDate = new Date();
            debugger;
            var dd_now = currentDate.getDate();
            var mm_now = currentDate.getUTCMonth() + 1;
            var yyyy_now = currentDate.getFullYear();

            debugger;
            if (dd != dd_now) {
                alert("RTGS form can only accept today's Date!");
                return false;
            }
            if (mm != mm_now) {
                alert("RTGS form can only accept today's Date!");
                return false;
            }
            if (yy != yyyy_now) {
                alert("RTGS form can only accept today's Date!");
                return false;
            }

            if (mm == 1 || mm > 2) {
                if (dd > ListofDays[mm - 1]) {
                    alert('Invalid date!');
                    return false;
                }
                
                
            }
            if (mm == 2) {
                var lyear = false;
                if ((!(yy % 4) && yy % 100) || !(yy % 400)) {
                    lyear = true;
                }
                if ((lyear == false) && (dd >= 29)) {
                    alert('Invalid date!');
                    return false;
                }
                if ((lyear == true) && (dd > 29)) {
                    alert('Invalid date!');
                    return false;
                }
            }
            return true;
        }
        else {
            alert("Invalid date !");
            //  document.form1.text1.focus();
            return false;
        }
        //  return true;
    }

    function RtgsFormData(result) {
        debugger;
        var fg = null;

        document.getElementById("sni_id").value = result.sni_id;

        document.getElementById("FrontImg").src = result.frontgreyimagepath;
        document.getElementById("remittance_type").value = result.RemittanceType;
        document.getElementById("branch").value = result.Branch;
        document.getElementById("date").value = result.Date;
        document.getElementById("debitAccNo").value = result.DebitAccNo;
        document.getElementById("Chqno").value = result.ChqNo;
        document.getElementById("amt").value = result.Amount;
        document.getElementById("amtinwords").value = result.AmountInWords;
        document.getElementById("PurposeCode").value = result.PurposeCode;
        document.getElementById("BeneficiaryAccType").value = result.BeneficiaryAccType;
        document.getElementById("BeneficiaryName").value = result.BeneficiaryName;
        document.getElementById("BeneficiaryAccNo").value = result.BeneficiaryAccNo;
        document.getElementById("cBeneficiaryAccNo").value = result.cBeneficiaryAccNo;
        document.getElementById("BeneficiaryIFSCCode").value = result.BeneficiaryIFSCCode;
        document.getElementById("BeneficiaryBank").value = result.BeneficiaryBank;
        document.getElementById("BeneficiaryBranch").value = result.BeneficiaryBranch;
        document.getElementById("Name").value = result.DebitName;
    }

    function SubmitData() {
        debugger;

        let text = "Do you want to Submit the record!";
        if (confirm(text) != true) {
            return false;
        }

        // remittance_type
        var remittance_type = document.getElementById("remittance_type").value;
        if (remittance_type == null || remittance_type == "") {
            alert("Remittance Type is a Empty!");
            document.getElementById("remittance_type").focus();
            return false;
        }
        else if (remittance_type.toUpperCase() != "RTGS" && remittance_type.toUpperCase() != "NEFT") {
            alert("Enter valid Remittance Type!");
            document.getElementById("remittance_type").focus();
            return false;
        }

        // branch
        var branch = document.getElementById("branch").value;
        if (branch == null || branch == "") {
            alert("Enter Branch name!");
            document.getElementById("branch").focus();
            return false;
        }


        debugger;
        // Date
        var date = document.getElementById("date").value;
        var dateValidation = DateValidation(date);
        if (dateValidation == false) {
            document.getElementById("date").focus();
            return false;
        }
            

        debugger;
        // Debit Acc No
        var debitAccNo = document.getElementById("debitAccNo").value;
        if (debitAccNo == null || debitAccNo == "") {
            alert("Enter Debit Account No!");
            document.getElementById("debitAccNo").focus();
            return false;
        }

        // Cheque No
        var Chqno = document.getElementById("Chqno").value;
        if (Chqno == null || Chqno == "") {
            alert("Enter Cheque No!");
            document.getElementById("Chqno").focus();
            return false;
        }
        else if (Chqno.length != 6) {
            alert("6 digit Cheque no is required!");
            document.getElementById("Chqno").focus();
            return false;
        }

        // Amount amt
        var amt = document.getElementById("amt").value;
        if (amt == null || amt == "" || amt == "0") {
            alert("Enter Amount!");
            document.getElementById("amt").focus();
            return false;
        }

        // Amount In Words
        var amtinwords = document.getElementById("amtinwords").value;
        if (amtinwords == null || amtinwords == "") {
            alert("Enter Amount in words!");
            document.getElementById("amtinwords").focus();
            return false;
        }

        // Purpose Code
        var PurposeCode = document.getElementById("PurposeCode").value;
        if (PurposeCode == null || PurposeCode == "") {
            alert("Enter Purpose Code!");
            document.getElementById("PurposeCode").focus();
            return false;
        }

        // Beneficiary Acc Type
        var BeneficiaryAccType = document.getElementById("BeneficiaryAccType").value;
        if (BeneficiaryAccType == null || BeneficiaryAccType == "") {
            alert("Enter Beneficiary Account Type!");
            document.getElementById("BeneficiaryAccType").focus();
            return false;
        }

        // Beneficiary Name
        var BeneficiaryName = document.getElementById("BeneficiaryName").value;
        if (BeneficiaryName == null || BeneficiaryName == "") {
            alert("Enter Beneficiary Name!");
            document.getElementById("BeneficiaryName").focus();
            return false;
        }

        // BeneficiaryAccNo
        var BeneficiaryAccNo = document.getElementById("BeneficiaryAccNo").value;
        if (BeneficiaryAccNo == null || BeneficiaryAccNo == "") {
            alert("Enter Beneficiary Account No!");
            document.getElementById("BeneficiaryAccNo").focus();
            return false;
        }

        // confirm Beneficiary Acc No
        var cBeneficiaryAccNo = document.getElementById("cBeneficiaryAccNo").value;
        if (cBeneficiaryAccNo == null || cBeneficiaryAccNo == "") {
            alert("Enter Confirmation Beneficiary Account No!");
            document.getElementById("cBeneficiaryAccNo").focus();
            return false;
        }

        if (BeneficiaryAccNo != cBeneficiaryAccNo) {
            alert("Beneficiary and Confirm Beneficiary Account No is not matching!");
            document.getElementById("BeneficiaryAccNo").focus();
            return false;
        }

        // BeneficiaryIFSCCode
        var BeneficiaryIFSCCode = document.getElementById("BeneficiaryIFSCCode").value;
        if (BeneficiaryIFSCCode == null || BeneficiaryIFSCCode == "") {
            alert("Enter Beneficiary IFSC Code!");
            document.getElementById("BeneficiaryIFSCCode").focus();
            return false;
        }

        // Beneficiary Bank
        var BeneficiaryBank = document.getElementById("BeneficiaryBank").value;
        if (BeneficiaryBank == null || BeneficiaryBank == "") {
            alert("Enter Beneficiary Bank Name!");
            document.getElementById("BeneficiaryBank").focus();
            return false;
        }

        // BeneficiaryBranch
        var BeneficiaryBranch = document.getElementById("BeneficiaryBranch").value;
        if (BeneficiaryBranch == null || BeneficiaryBranch == "") {
            alert("Enter Beneficiary Branch Name!");
            document.getElementById("BeneficiaryBranch").focus();
            return false;
        }

        // Name
        var Name = document.getElementById("Name").value;
        if (Name == null || Name == "") {
            alert("Enter Name!");
            document.getElementById("Name").focus();
            return false;
        }

        var x = document.getElementById("urlVal").value;
        var y = "postRtgsData";

        var count_id = document.getElementById("RecordId").value;
        var sni_id = document.getElementById("sni_id").value;

        var today = new Date();
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
        var yyyy = today.getFullYear();
        var hh = String(today.getHours()).padStart(2, '0');
        var min = String(today.getMinutes()).padStart(2, '0');
        var ss = String(today.getSeconds()).padStart(2, '0');
        //var RefNo = "RTGS" + yyyy + mm + dd + hh + min + ss;
        var RefNo = remittance_type + yyyy + mm + dd + hh + min + ss;

        var bankcode = document.getElementById("bankcode").value;

        var L2StartLimit = document.getElementById("L2StartLimit").value;
        var CheckerModule = document.getElementById("CheckerModule").value;

        var data_amt = parseFloat(amt);
        var VerfRequired = "";

        debugger;

        if (CheckerModule == "Y") {
            if (data_amt >= parseFloat(L2StartLimit))
                VerfRequired = "Y";
            else
                VerfRequired = "N";
        }
        else {
            VerfRequired = "N";
        }
        

        debugger;

        $.ajax({
            url: x + y,
            //headers: authHeaders,
            type: 'POST',
            data: {
                'Status': 'SUBMIT', 'rtgs_type': '01_02',
                'CheckerModule': CheckerModule, 'VerfRequired': VerfRequired,
                'count_id': count_id, 'sni_id': sni_id, 'RefNo': RefNo, 'bankcode': bankcode, 'RemittanceType': remittance_type, 'Branch': branch, 'Date': date,
                'DebitAccNo': debitAccNo, 'ChqNo': Chqno, 'Amount': amt, 'AmountInWords': amtinwords, 'PurposeCode': PurposeCode,
                'BeneficiaryAccType': BeneficiaryAccType, 'BeneficiaryName': BeneficiaryName, 'BeneficiaryAccNo': BeneficiaryAccNo, 'cBeneficiaryAccNo': cBeneficiaryAccNo,
                'BeneficiaryIFSCCode': BeneficiaryIFSCCode, 'BeneficiaryBank': BeneficiaryBank, 'BeneficiaryBranch': BeneficiaryBranch, 'Name': Name
            },
            success: function (result) {
                PostRtgsSuccess(result);
            },
            error: getError
        });

    }

    function ResetData() {

        let text = "Do you want to Reset the record!";
        if (confirm(text) != true) {
            return false;
        }

        var count_id = document.getElementById("RecordId").value;
        var sni_id = document.getElementById("sni_id").value;

        var x = document.getElementById("urlVal").value;
        var y = "postRtgsData";

        debugger;

        $.ajax({
            url: x + y,
            //headers: authHeaders,
            type: 'POST',
            data: {
                'Status': 'RESET', 'count_id': count_id, 'sni_id': sni_id
            },
            success: function (result) {
                PostRtgsSuccess(result);
            },
            error: getError
        });
    }

    function PostRtgsSuccess(result) {
        alert(result);

        var rooturl = '@Url.Content("~/")';

        window.open(rooturl + "RtgsNeft/RtgsList", "_self");
    }


    function BackBtn() {
        var rooturl = '@Url.Content("~/")';

        window.open(rooturl + "RtgsNeft/RtgsList", "_self");
    }

</script>

<div class="main-content-inner">
    <div class="page-content">
        <div class="page-header">
            <h1>
                Rtgs Form
            </h1>
        </div>
        <div class="page-content">
            <div class="col-sm-12">
                <div class="col-sm-4" style="border-color:black">
                    <div class="row">
                        <label class="col-sm-5"><b>Remittance Type:</b></label>
                        <input id="remittance_type" />
                    </div>
                    <br />
                    <div class="row">
                        <label class="col-sm-5"><b>Branch:</b></label>
                        <input id="branch" />
                    </div>
                    <br />
                    <div class="row">
                        <label class="col-sm-5"><b>Form Date:</b></label>
                        <input id="date" />
                    </div>
                    <br />
                    <div class="row">
                        <label class="col-sm-5"><b>Debit Acc No:</b></label>
                        <input id="debitAccNo" />
                    </div>
                    <br />
                    <div class="row">
                        <label class="col-sm-5"><b>Cheque No:</b></label>
                        <input id="Chqno" />
                    </div>
                    <br />
                    <div class="row">
                        <label class="col-sm-5"><b>Amount:</b></label>
                        <input id="amt" />
                    </div>
                    <br />
                    <div class="row">
                        <label class="col-sm-5"><b>Amount In Words:</b></label>
                        @*<textarea class="col-sm-7" id="amtinwords" style="width:100%"></textarea>*@
                    </div>
                    @*<br />*@
                    <div class="row">
                        <textarea id="amtinwords" style="width:100%"></textarea>
                    </div>
                    <br />
                    <div class="row">
                        <label class="col-sm-5"><b>Purpose Code:</b></label>
                        <input id="PurposeCode" />
                    </div>
                    <br />
                    <div class="row">
                        <label class="col-sm-5"><b>Beneficiary Acc Type:</b></label>
                        <input id="BeneficiaryAccType" />
                    </div>
                    <br />
                    <div class="row">
                        <label class="col-sm-5"><b>Beneficiary Name:</b></label>
                        <input id="BeneficiaryName" style="width:100%" />
                    </div>
                    <br />
                    <div class="row">
                        <label class="col-sm-5"><b>Beneficiary Acc No:</b></label>
                        <input id="BeneficiaryAccNo" />
                    </div>
                    <br />
                    <div class="row">
                        <label class="col-sm-5"><b>Confirm Beneficiary Acc No:</b></label>
                        <input id="cBeneficiaryAccNo" />
                    </div>
                    <br />
                    <div class="row">
                        <label class="col-sm-5"><b>Beneficiary IFSC:</b></label>
                        <input id="BeneficiaryIFSCCode" />
                    </div>
                    <br />
                    <div class="row">
                        <label class="col-sm-5"><b>Beneficiary Bank:</b></label>
                        <input id="BeneficiaryBank" />
                    </div>
                    <br />
                    <div class="row">
                        <label class="col-sm-5"><b>Beneficiary Branch:</b></label>
                        <input id="BeneficiaryBranch" />
                    </div>
                    <br />
                    <div class="row">
                        <label class="col-sm-5"><b>Name:</b></label>
                        <input id="Name" />
                    </div>
                    <br />
                    <div class="row">
                        @*<input type="button" id="btnReset" value="Back" class="btn" style="color:white;font-size: 13px; padding: 2px; width: 95px;" onclick="BackBtn();" />
                        <input type="button" id="btnReset" value="Reset" class="btn" style="color:white;font-size: 13px; padding: 2px; width: 95px;" onclick="ResetData();" />
                        <input type="button" id="btnSubmit" value="Submit" class="btn" style="color:white;font-size: 13px; padding: 2px; width: 95px;" onclick="SubmitData();" />*@
                    </div>
                </div>
                <div class="col-sm-8">
                    <img id="FrontImg" src="" style="width:100%" />
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-sm-4">
                    <input type="button" id="btnReset" value="Back" class="btn" style="color:white;font-size: 13px; padding: 2px; width: 95px;" onclick="BackBtn();" />
                    <input type="button" id="btnReset" value="Reset" class="btn" style="color:white;font-size: 13px; padding: 2px; width: 95px;" onclick="ResetData();" />
                    <input type="button" id="btnSubmit" value="Submit" class="btn" style="color:white;font-size: 13px; padding: 2px; width: 95px;" onclick="SubmitData();" />
                </div>
            </div>
        </div>
    </div>
</div>