
<script src="~/Scripts/CTS_L1.js"></script>
<script src="~/Scripts/CommonFunctions.js"></script>
<script src="~/Scripts/SignPopUp.js"></script>

@{
    ViewBag.Title = "CTS_Without_Slip";
    Layout = "~/Views/Shared/_Layout_2.cshtml";
}

<input id="urlVal" value="@ViewBag.URL" hidden />
<input id="WebImageUrlVal" value="@ViewBag.WebImageURL" hidden />
<input id="PhysicalImageUrlVal" value="@ViewBag.PhysicalImageURL" hidden />

<input id="loginid" value="@Session["Login_Page_Id"]" hidden />
<input id="Scanning_Type" value="@ViewBag.Scanning_Type" hidden />

<input id="ClearingType" value="@Session["ClearingType"].ToString()" hidden />
@*<input id="ScanningType" value="@Session["ScanningType"].ToString()" hidden />*@
<input id="AccNoMinLength" value="@Session["AccNoMinLength"]" hidden />
<input id="AccNoMaxLength" value="@Session["AccNoMaxLength"]" hidden />

<input id="DotAccNo" value="@Session["DotAccNo"]" hidden />
<input id="DotAccNoPartA" value="@Session["DotA"]" hidden />
<input id="DotAccNoPartB" value="@Session["DotB"]" hidden />
<input id="DotAccNoPartC" value="@Session["DotC"]" hidden />

<input id="BankCode" name="BankCode" value="@Session["BankCode"]" hidden />

<input id="KVal" value="@Session["KVal"]" hidden />
<input id="uid" value="@Session["Login_Page_Id"]" hidden />

<div class="row col-12 mb-3 my-0">
    <form class="d-flex align-items-center" action="#">
        <div class="row">
            <h3 class="mb-0 text-primary position-relative">
                <span id="spam_header" class="bg-200 dark__bg-1100 pe-3">

                </span>
            </h3>
        </div>
        <div class="row">
            <div class="d-grid gap-2 d-md-block">
                <button class="btn btn-sm btn-primary ml-2" type="button" onclick="getVoucherData()"> Get Instrument </button>
                <button hidden="btn_verf_sign" class="btn btn-sm btn-primary mx-2" type="button" data-bs-toggle="offcanvas" id="btn_signture"
                        data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling" onclick="getSignDetails();">
                    Verify Sign
                </button>
                <button class="btn btn-danger btn-sm" type="button" data-bs-toggle="modal" data-bs-target="#resetmodal" onclick="ResetDataFunctionCall()">
                    Reset
                </button>
                <a href="~/TransferCts/Transfer?Name=CTS" class="btn btn-secondary btn-sm px-4 mx-2">Back</a>
            </div>
        </div>
    </form>
</div>
<div id="div_main_page" class="row mb-2">
    <div class="col-lg-8 col-md-8 col-sm-12">
        <div class="card">
            <div class="card-body p-2">
                <div class="row">
                    <div class="col-lg-12 ">
                        <div class="form-group row mx-1 mb-0">
                            <div class="form-check form-check-inline col">
                                <label class="form-check-label" for="optionsRadios1">
                                    <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1"
                                           value="option1" onclick="switchimage('frontGimg', 'BOT_RGB')" checked /> Front
                                </label>
                            </div>
                            <div class="form-check col">
                                <label class="form-check-label" for="optionsRadios2">
                                    <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2"
                                           value="option2" onclick="switchimage('backGimg', 'TOP_RGB')" /> Back
                                </label>
                            </div>
                            <div class="form-check col">
                                <label class="form-check-label" for="optionsRadios3">
                                    <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3"
                                           value="option3" onclick="switchimage('frontIRimg', 'BOT_IRR')" /> IR
                                </label>
                            </div>
                            <div class="form-check col">
                                <label class="form-check-label" for="optionsRadios4">
                                    <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios4"
                                           value="option4" onclick="switchimage('waterMark', 'TOP_QIR')" /> WM
                                </label>
                            </div>
                            <div class="form-check col">
                                <label class="form-check-label" for="optionsRadios7">
                                    <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios7"
                                           value="option4" onclick="switchimage('UV', 'BOT_UV')" /> UV
                                </label>
                            </div>
                            <div class="form-check col">
                                <label class="form-check-label" for="optionsRadios5">
                                    <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios5"
                                           value="option4" onclick="switchimage('BOT_RGB', 'FRONT')" /> FTiff
                                </label>
                            </div>
                            <div class="form-check col">
                                <label class="form-check-label" for="optionsRadios6">
                                    <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios6"
                                           value="option4" onclick="switchimage('TOP_RGB', 'BACK')" /> BTiff
                                </label>
                            </div>
                            <div class="col">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="tooltip"
                                            data-bs-placement="top" title="Rotate" onclick="rotateImage();">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                             class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                  d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z" />
                                            <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <img id="FG" src="" style="height: auto; width: 800px;" alt="INSTRUMENT" onclick="ChqSlipPopUp('FG');">
                        </div>
                        @*<div id="popup1" style="display: none; background-color: white; position: absolute; top: 0px; z-index: 9999; box-shadow: 6px 6px 5px #888888; border-radius: 6px; border: 1px solid #4f4f4f; max-height: 500px; overflow-y: scroll;">
                                <div id="popup_bar1" style="width: 100%; background-color: #438EB9; color: white; position: relative; top: 0; border-radius: 6px 6px 0 0; text-align: center; height: 24px; cursor: move "><b>Chq/Slip</b><span id="btn_close" onclick="closeButton1()" style="float:right;cursor:pointer;padding-right:6px;">[X]</span></div>
                                <table id="chqSlipTable" style="width:800px;">
                                    <thead style="border:1px solid black;background-color: cadetblue;color:white;">
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>*@


                        <div id="popup1" style="display: none; background-color: white; position: absolute; top: 0px; z-index: 9999; box-shadow: 6px 6px 5px #888888; border-radius: 6px; border: 1px solid #4f4f4f; max-height: 500px; overflow-y: scroll;">
                            <div id="popup_bar1" style="width: 100%; background-color: #438EB9; color: white; position: relative; top: 0; border-radius: 6px 6px 0 0; text-align: center; height: 24px; cursor: move ">
                                <span id="id_title"></span>
                                <span id="btn_close" onclick="closeButton1()" style="float:right;cursor:pointer;padding-right:6px;">[X]</span>
                            </div>
                            <table id="chqSlipTable" style="width:800px;">
                                <thead style="border:1px solid black;background-color: cadetblue;color:white;">
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>

                        <div id="div_micr" class="table-responsive mt-3">
                            <table class="table table-sm table-bordered">
                                <tbody>
                                    <tr class="table-secondary">
                                        <td scope="col" data-bs-toggle="tooltip"
                                            data-bs-placement="top" title="Instrument Serial Number">
                                            Inst SRL No
                                        </td>
                                        <td scope="col">Sort code</td>
                                        <td scope="col">SAN</td>
                                        <td scope="col" data-bs-toggle="tooltip"
                                            data-bs-placement="top" title="Transaction Code">
                                            Tran. Code
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-wrap">
                                            <input id="id_chq" type="text" maxlength="6" class="form-control form-control-sm" placeholder="123456" onfocusout="setTableData()">
                                        </td>
                                        <td class="text-wrap">
                                            <input id="id_sort" type="text" maxlength="9" class="form-control form-control-sm" placeholder="123456789" onfocusout="setTableData()">
                                        </td>
                                        <td class="text-wrap">
                                            <input id="id_san" type="text" maxlength="6" class="form-control form-control-sm" placeholder="1234567" onfocusout="setTableData()">
                                        </td>
                                        <td class="text-wrap">
                                            <input id="id_tr" type="text" maxlength="2" class="form-control form-control-sm" placeholder="123" onfocusout="setTableData()">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card">
            <!-- <h6 class="text-center mt-3 font-weight-bolder">Credit Account</h6> -->
            <div class="card-body p-2 ">
                <div id="div_total_slip_amt" class="input-group input-group-sm mb-2">
                    <span class="input-group-text" style="font-size: 17px;"><b>Slip Amt</b></span>
                    <input id="total_slip_amt" class="form-control" value="" style="font-weight: bold; font-size: 17px;" disabled>
                    @*&nbsp;&nbsp;*@
                    @*<span class="input-group-text" style="font-size: 17px;"><b>Batch Amt</b></span>
                        <input id="total_chq_amt" class="form-control" value="" style="font-weight: bold; font-size: 17px;" disabled>*@
                </div>
                <div id="div_total_batch_amt" class="input-group input-group-sm mb-2">
                    <span class="input-group-text" style="font-size: 17px;"><b>Batch Amt</b></span>
                    <input id="total_chq_amt" class="form-control" value="" style="font-weight: bold; font-size: 17px;" disabled>
                </div>
                <div id="div_accno" class="input-group input-group-sm mb-2">
                    <span class="input-group-text" style="font-size: 17px;"><b>Account No.</b></span>
                    <input id="AccountNo" type="text" maxlength="16" class="form-control" placeholder="Search" data-bs-toggle="tooltip" data-bs-placement="top"
                           onfocusout="GetPayeee('CTS');" style="font-size: 17px;" onkeyup="changeAccNo();" onclick="CheckImgFlip()" autocomplete="off">
                    <button class="btn btn-primary" onclick="GetPayeee('CTS');"><i class="fas fa-search"></i></button>
                </div>
                <div id="Payeeee">
                    <select id="PayeeName" class="form-select form-select-sm mb-2" onfocusout="setTableData();">
                    </select>
                </div>
                <div class="table-responsive">
                    <table class="table table-sm table-bordered">
                        <tbody>
                            <tr id="tr_input_payeename">
                                <th colspan="2" class="text-wrap">Payee Name</th>
                                <td colspan="2" class="text-wrap">
                                    <input id="input_payeename" type="text" class="form-control form-control-sm" placeholder="Payee Name" data-bs-toggle="tooltip" data-bs-placement="top"
                                           title="Payee Name" onfocusout="setTableData()" autocomplete="off">
                                </td>
                            </tr>
                            <tr id="tr_acc_status">
                                <th colspan="2" class="text-wrap">Acc Status</th>
                                <td colspan="2" class="text-wrap text-success" data-bs-toggle="tooltip" data-bs-placement="top"
                                    title="Account Status">
                                    <label id="accStatus" style="font-style:bold;font-size:15px;"></label>
                                </td>
                            </tr>
                            <tr id="tr_scheme_freeze">
                                <th class="text-wrap">Schema Code</th>
                                <td class="text-wrap"><lable id="FinScheme" style="font-size: 15px;"></lable></td>
                                <th class="text-wrap">Freeze Code</th>
                                <td class="text-wrap"><label id="FinFreeze" style="font-size: 15px;"></label></td>
                            </tr>
                            <tr id="tr_mop_nre">
                                <th class="text-wrap">MOP</th>
                                <td class="text-wrap"><label id="FinMOP" style="font-size: 15px;"></label></td>
                                <th class="text-wrap">NRE Flag</th>
                                <td class="text-wrap"><label id="NREFlag" style="font-size: 15px;"></label></td>
                            </tr>
                            <tr id="tr_scheme_accowner">
                                <th class="text-wrap">Scheme Type</th>
                                <td class="text-sucess"><label id="FinSchemeType" style="font-size: 15px;"></label></td>
                                <th class="text-wrap">Acc Ownership</th>
                                <td class="text-wrap"><label id="FinAccOwner" style="font-size: 15px;"></label></td>
                            </tr>
                            <tr id="tr_inst_type">
                                <th colspan="2" class="text-wrap">Inst. Type</th>
                                <td colspan="2" class="text-wrap">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch" id="id_inst_type" data-bs-toggle="tooltip" data-bs-placement="top"
                                               title="Instrument Type" @*onkeyup="changeInstType()"*@ onclick="changeInstType();">
                                        <span class="badge bg-primary" id="lbl_inst_type"></span>
                                    </div>

                                </td>
                            </tr>
                            <tr id="tr_date">
                                <th colspan="2" class="text-wrap">Inst. Date</th>
                                <td colspan="2" class="text-wrap">
                                    <input id="date" type="text" maxlength="10" class="form-control form-control-sm" placeholder="dd-MM-yyyy" data-bs-toggle="tooltip" data-bs-placement="top"
                                           title="Instrument Date" onfocusout="Check_Date()" autocomplete="off" @*onfocusout="setTableData()"*@>
                                </td>
                            </tr>
                            <tr id="tr_slip_amt">
                                <th colspan="2" class="text-wrap">Slip Amt</th>
                                <td colspan="2" class="text-wrap">
                                    <input id="slip_amt" type="number" maxlength="13" class="form-control form-control-sm" placeholder="12345678" data-bs-toggle="tooltip" data-bs-placement="top"
                                           title="Slip Amount" onfocusout="setTableData()" onkeyup="chqAmtChange('SLIP')" min="0" autocomplete="off">
                                </td>
                            </tr>
                            <tr id="tr_chq_amt">
                                <th colspan="2" class="text-wrap">Cheque Amt</th>
                                <td colspan="2" class="text-wrap">
                                    <input id="chq_amt" type="number" maxlength="13" class="form-control form-control-sm" placeholder="12345678" data-bs-toggle="tooltip" data-bs-placement="top"
                                           title="Cheque Amount" onfocusout="setTableData()" onkeyup="chqAmtChange('CHQ')" min="0" autocomplete="off">
                                </td>
                            </tr>
                            <tr id="tr_iqa_uv">
                                <th style="width:150px;" class="text-wrap">IQA</th>
                                <td class="text-wrap">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch" id="btn_iqa" onclick="change_iqa('CTS');">
                                        <label class="badge bg-success" id="pass_iqa">Pass</label>
                                        <label class="badge bg-danger" id="fail_iqa">Fail</label>
                                    </div>
                                </td>
                                <th style="width:150px;" class="text-wrap">UV</th>
                                <td class="text-wrap">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch" id="btn_uv" onclick="change_uv('CTS');">
                                        <label class="badge bg-success" id="pass_uv">Pass</label>
                                        <label class="badge bg-danger" id="fail_uv">Fail</label>
                                    </div>
                                </td>
                            </tr>
                            <tr hidden>
                                <th class="text-wrap">IR</th>
                                <td class="text-wrap">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch" id="btn_ir" onclick="change_ir('CTS');">
                                        <label class="badge bg-success" id="pass_ir">Pass</label>
                                        <label class="badge bg-danger" id="fail_ir">Fail</label>
                                    </div>
                                </td>
                                <th class="text-wrap">Micro Lettering</th>
                                <td class="text-wrap">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch" id="btn_ml" onclick="change_ml('CTS');">
                                        <label class="badge bg-success" id="pass_ml">Pass</label>
                                        <label class="badge bg-danger" id="fail_ml">Fail</label>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-center">
                    <a href="#authenticationmodal" data-bs-toggle="modal">
                        <button class="btn btn-primary btn-sm" onclick="VerifyData()">Verify</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="div_record_tbl" class="row mb-2 mt-3">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
            <div class="table-responsive mx-2 my-2">
                <table id="tblChequeData" class="table table-sm table-bordered">
                    <tbody>
                        <tr class="table-secondary" style="font-weight: bold;">
                            <!-- <td scope="col">Sr. No.</td> -->
                            <td id="td_Acc_No" scope="col" class="text-center">Account No</td>
                            <td id="td_Payee_Name" scope="col" class="text-center">Payee Name</td>
                            <td id="td_Slip_Amt" scope="col" class="text-center" data-bs-toggle="tooltip" data-bs-placement="top" title="Slip Amount">
                                Slip Amt
                            </td>
                            <td id="td_Chq_Amt" scope="col" class="text-center" data-bs-toggle="tooltip"
                                data-bs-placement="top" title="Cheque Amount">
                                Chq. Amt
                            </td>
                            <td id="td_Chq_Date" scope="col" class="text-center">Cheque Date</td>                @*// Cell 4*@
                            <td scope="col" class="text-center">Cheque No</td>
                            <td scope="col" class="text-center">Sort Code</td>
                            <td scope="col" class="text-center">SAN</td>
                            <td scope="col" class="text-center" data-bs-toggle="tooltip"
                                data-bs-placement="top" title="Transaction Code">
                                Trans. Code
                            </td>
                            <td scope="col" class="text-center">Inst. Type</td>                 @*// Cell 9*@
                            <td scope="col" hidden>Valid Acc </td>
                            <td scope="col text-center">Delete</td>
                            <td scope="col" hidden>Img</td>                                     @*// Cell 12*@
                            <td scope="col" hidden>Acc valid</td>
                            <td scope="col" hidden>IQA</td>
                            <td scope="col" hidden>UV</td>
                            <td scope="col" hidden>IR</td>
                            <td scope="col" hidden>Micro</td>                                   @*// Cell 17*@
                            <td scope="col" hidden>Scheme Code</td>
                            <td scope="col" hidden>Freeze</td>
                            <td scope="col" hidden>MOP</td>
                            <td scope="col" hidden>NRE</td>
                            <td scope="col" hidden>Scheme Type</td>
                            <td scope="col" hidden>Acc Owner</td>
                            <td scope="col" hidden>MICR</td>                                    @*// Cell 24*@
                            <td scope="col" hidden>OCR</td>
                            <td scope="col" hidden>AccountNoConf</td>                           @*// Cell 26*@
                            <td scope="col" hidden>ChequeDateConf</td>
                            <td scope="col" hidden>ChequeAmountConf</td>
                            <td scope="col" hidden>RowNo</td>
                            <td scope="col" hidden>Trans. Par.</td>
                            <td scope="col" hidden>Count Id</td>
                            <td scope="col" hidden>Sni Id</td>
                            <td scope="col" hidden>Sign Flag</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Authentication Model on submit -->
<div class="modal fade" id="authenticationmodal" tabindex="-1" role="dialog" aria-labelledby="authentication-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable mt-6" role="document">
        <div class="modal-content border-0">
            <div class="modal-header px-5 position-relative modal-shape-header bg-shape">
                <div class="position-relative z-1" data-bs-theme="light">
                    <h4 class="mb-0 text-white" id="authentication-modal-label">Verification</h4>
                </div>
                <button class="btn-close btn-close-white position-absolute top-0 end-0 mt-2 me-2" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body py-2 px-1">

                <table id="tbl_verf_fail" class="table table-sm">
                    <tbody>
                        <tr>
                            <th class="text-wrap">Error Msg</th>
                            <td class="text-wrap">
                                <span id="errorMsg" class="badge badge-sm bg-warning" style="font-size:15px;"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table id="tbl_verf_result" class="table table-sm">
                    <tbody>
                        <tr>
                            <th class="text-wrap">Response</th>
                            <td class="text-wrap">
                                <lable id="successMsg" class="badge badge-sm bg-success" style="font-size:15px;"></lable>
                            </td>
                        </tr>
                        <tr id="tr_cts_filedownload">
                            <th class="text-wrap">File Download</th>
                            <td class="text-wrap">
                                <lable id="ctsMsg" class="badge badge-sm bg-success" style="font-size:15px;"></lable>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table id="tbl_verf_pass" class="table table-sm">
                    <tbody>
                        <tr>
                            <th class="text-wrap">Name</th>
                            <td class="text-wrap"><lable id="name"></lable></td>
                        </tr>
                        <tr>
                            <th class="text-wrap">Account Status</th>
                            <td class="text-wrap"><label id="FinAccountStatus" style="font-style:bold;font-size:15px;"></label></td>
                        </tr>
                        @*<tr>
                                <th class="text-wrap">Schema Code</th>
                                <td class="text-wrap"><lable id="FinScheme"></lable></td>
                            </tr>
                            <tr>
                                <th class="text-wrap">Freeze Code</th>
                                <td class="text-wrap"><label id="FinFreeze"></label></td>
                            </tr>
                            <tr>
                                <th class="text-wrap">Mode Of Operation</th>
                                <td class="text-wrap"><label id="FinMOP"></label></td>
                            </tr>
                            <tr>
                                <th class="text-wrap">NRE Flag</th>
                                <td class="text-wrap"></td>
                            </tr>
                            <tr>
                                <th class="text-wrap">Scheme Type</th>
                                <td class="text-sucess"><label id="FinScheme"></label></td>
                            </tr>
                            <tr>
                                <th class="text-wrap">Account Ownership</th>
                                <td class="text-wrap"><label id="FinAccOwner"></label></td>
                            </tr>*@
                        @*<tr hidden>
                                <th class="text-wrap">IQA</th>
                                <td class="text-wrap">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch" id="btn_iqa" onclick="change_iqa();">
                                        <label class="badge bg-success" id="pass_iqa">Passed</label>
                                        <label class="badge bg-danger" id="fail_iqa">Failed</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th class="text-wrap">UV</th>
                                <td class="text-wrap">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch" id="btn_uv" onclick="change_uv();">
                                        <label class="badge bg-success" id="pass_uv">Passed</label>
                                        <label class="badge bg-danger" id="fail_uv">Failed</label>
                                    </div>
                                </td>
                            </tr>*@
                        @*<tr hidden>
                                <th class="text-wrap">IR</th>
                                <td class="text-wrap">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch" id="btn_ir" onclick="change_ir();">
                                        <label class="badge bg-success" id="pass_ir">Passed</label>
                                        <label class="badge bg-danger" id="fail_ir">Failed</label>
                                    </div>
                                </td>
                            </tr>
                            <tr hidden>
                                <th class="text-wrap">Micro Lettering</th>
                                <td class="text-wrap">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch" id="btn_ml" onclick="change_ml();">
                                        <label class="badge bg-success" id="pass_ml">Passed</label>
                                        <label class="badge bg-danger" id="fail_ml">Failed</label>
                                    </div>
                                </td>
                            </tr>*@
                    </tbody>
                </table>
                <div id="div_submit_pass" class="row g-2 mt-2 mx-4">
                    <div id="btn_postdata" class="col-sm-6"><a class="btn btn-primary btn-sm d-block w-100" onclick="DataPush()">Submit</a></div>
                    <div class="col-sm-6">
                        <a class="btn btn-secondary btn-sm d-block w-100" data-bs-dismiss="modal"
                           aria-label="Close">Cancel</a>
                    </div>
                </div>
                <div id="div_submit_fail" class="row g-2 mt-2 mx-4">
                    <label class="col-sm-10"></label>
                    <div id="btn_postdata" class="col-sm-2">
                        <a class="btn btn-primary btn-sm d-block w-100" data-bs-dismiss="modal">OK</a>
                    </div>
                </div>
                <div id="div_response_success" class="row g-2 mt-2 mx-4">
                    <label class="col-sm-10"></label>
                    <div id="btn_postdata" class="col-sm-2">
                        <a class="btn btn-primary btn-sm d-block w-100" data-bs-dismiss="modal" onclick="reloadpage()">OK</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of Authentication Model on submit -->

<script type="text/javascript">

    $("#ProcessingBar").hide();
    $("#div_main_page").hide();
    $("#div_micr").hide();
    $("#div_record_tbl").hide();

    var x = '@ViewBag.URL';
    var WebImageURL = '@ViewBag.WebImageURL';
    var PhysicalImageURL = '@ViewBag.PhysicalImageURL';
    var rooturl = '@Url.Content("~/")';

    var access_token = window.localStorage.getItem('AccessToken');
    var bearer = window.localStorage.getItem('TokenType');

    var authHeaders = {};
    authHeaders.Authorization = bearer + " " + access_token;
    //authHeaders.Authorization = access_token;

    var tableChequeData = document.getElementById('tblChequeData');
    var username = "";
    var Scanning_Type = "";
    var GlobalRowNo;
    var row_unique_id;
    var rowId = 0;
    var ErrorMessage = "";
    var total_slip_amt = 0;
    var total_chq_amt = 0;
    var verfPending = false;
    var machineserialno = "";
    var BrCode = "";
    var RefNo = "";
    var tableRowCount = 0;
    var deleted_row = 0;

    // Account validation
    var AccountValidation = false;
    var AccountVal_ErrorMsg = "";

    // Date validation
    var PostDated_status = false;
    var StaleDated_status = false;

    // DOT function Account No
    var finalAccount = "";
    var acc1 = "";
    var acc2 = "";
    var acc3 = "";

    var BankCode = "";
    var transtype = "CTS";
    var imgRotateVal = 0;
    var CustId = "";

    // Reset Logic Begin
    $("#div_reset_msg").show();
    $("#div_reset_button").show();
    $("#btn_close_reset").show();
    $("#btn_yes_reset").show();
    $("#btn_no_reset").show();
    $("#div_reset_success").hide();
    $("#tbl_reset_response").hide();
    $("#success_reset").hide();
    $("#failed_reset").hide();
    $("#div_reload_page_button").hide();
    $("#btn_reload").hide();
    // Reset Logic End

    $("#btn_signture").hide();

    $(document).ready(function () {

        document.getElementById("ProcessingBar").innerHTML = "Processing Request...";
        username = document.getElementById("loginid").value;
        //debugger;
        Scanning_Type = document.getElementById("Scanning_Type").value;
        BankCode = document.getElementById("BankCode").value;

        //if (BankCode == "240") {
        //    if (Scanning_Type == "1")
        //        $("#tr_input_payeename").show();
        //    else
        //        $("#tr_input_payeename").hide();
        //}
        //else {
        //    $("#tr_input_payeename").hide();
        //}

        debugger;
        if (Scanning_Type == "1") {
            //$("#tr_inst_type").show();
            $("#tr_slip_amt").show();
            $("#td_slip_amt").show();

            document.getElementById("spam_header").innerHTML = "CTS With Slip";
        }
        else if (Scanning_Type == "2" || Scanning_Type == "3") {
            //$("#tr_inst_type").hide();
            $("#tr_slip_amt").hide();
            $("#td_slip_amt").hide();
            $("#div_total_slip_amt").hide();

            $("#tblChequeData tr td:nth-child(3)").hide();

            if (Scanning_Type == "2")
                document.getElementById("spam_header").innerHTML = "CTS Without Slip";
            else if (Scanning_Type == "3")
                document.getElementById("spam_header").innerHTML = "P2F CTS Without Slip";
        }

        $.ajax({
            type: "POST",
            url: rooturl + "Home/ValidateSession",
            data: {},
            datatype: "json",
            success: function (data) {
                if (data == "False") {
                    window.location = rooturl + "Home/LoginiBAS?cond=1";
                }
            }
        });

    });

    $("#tblChequeData").on('click', 'td', function () {
        //debugger;
        //alert("row selected");

        $("#div_main_page").show();
        //$("#div_micr").show();
        $("#div_record_tbl").show();

        var rowNumber = this.parentNode.rowIndex;
        var SeqNo = 0;
        var x_row = this.cellIndex;
        console.log(x_row);

        GlobalRowNo = rowNumber;
        var obj_Cells = tableChequeData.rows.item(GlobalRowNo).cells;
        row_unique_id = obj_Cells[29].innerHTML;

        //debugger;

        finalAccount = "";
        acc1 = "";
        acc2 = "";
        acc3 = "";

        AccountValidation = false;
        AccountVal_ErrorMsg = "";

        PostDated_status = false;
        StaleDated_status = false;

        if (x_row == 11) {
            var result = confirm("Are you sure you want to delete this item..?");

            if (result) {

                debugger;
                var count_id = obj_Cells[31].innerHTML;
                var sni_id = obj_Cells[32].innerHTML;
                var y = "DeleteRow";

                $.ajax({
                    url: x + y,
                    headers: authHeaders,
                    type: 'POST',
                    data: { transactionType: 'TRF', count_id: count_id, sni_id: sni_id },
                    success: DeleteSuccess,
                    error: getError
                });

                //document.getElementById("tblChequeData").deleteRow(rowNumber);
                //$("#div_main_page").hide();

                //deleted_row += 1;

                //for (i = 1; i < tableChequeData.rows.length; i++) {
                //    var objCells = tableChequeData.rows.item(i).cells;
                //    var row_id = objCells[29].innerHTML;
                //    $("#tr_id_" + row_id).css('background-color', '');
                //}

            }
            else
                return false;
        }
        else {

            $("#btn_signture").show();

            //debugger;

            var slipAmt = 0;
            for (i = 1; i < tableChequeData.rows.length; i++) {
                var amt = document.getElementById("tblChequeData").getElementsByTagName('tr')[i].cells[2].innerHTML;
                if (amt != null && amt != "")
                    slipAmt += parseFloat(amt);
                else
                    slipAmt += 0;
            }
            document.getElementById("total_slip_amt").value = slipAmt;

            var batchAmt = 0;
            for (i = 1; i < tableChequeData.rows.length; i++) {
                var amt = document.getElementById("tblChequeData").getElementsByTagName('tr')[i].cells[3].innerHTML;
                if (amt != null && amt != "")
                    batchAmt += parseFloat(amt);
                else
                    batchAmt += 0;
            }
            document.getElementById("total_chq_amt").value = batchAmt;

            //debugger;
            for (i = 1; i < tableChequeData.rows.length; i++) {
                var objCells = tableChequeData.rows.item(i).cells;
                var row_id = objCells[29].innerHTML;
                $("#tr_id_" + row_id).css('background-color', '');
            }

            for (i = 1; i < tableChequeData.rows.length; i++) {

                if (rowNumber == i) {

                    PerviousType = "";

                    var objCells = tableChequeData.rows.item(i).cells;
                    //console.log('row no :' + i);
                    //console.log(objCells[0].innerText);
                    //console.log(objCells[1].innerText);
                    ////console.log(objCells[2].innerText);
                    ////console.log(objCells[3].innerText);
                    //console.log(objCells[12].innerText);
                    //console.log(objCells[29].innerText);

                    var row_id = objCells[29].innerHTML;
                    $("#tr_id_" + row_id).css('background-color', '#82CAFF');

                    if (objCells[9].innerHTML != null && objCells[9].innerHTML) {
                        if (objCells[9].innerHTML == "C") {
                            $("#div_micr").show();
                            document.getElementById("id_inst_type").checked = false;
                            document.getElementById("lbl_inst_type").innerHTML = "Cheque";
                            document.getElementById("id_chq").focus();
                        }
                        else {
                            $("#div_micr").hide();
                            document.getElementById("id_inst_type").checked = true;
                            document.getElementById("lbl_inst_type").innerHTML = "Slip";
                            //document.getElementById("id_chq").focus();
                        }
                    }
                    else {
                        $("#div_micr").show();
                        document.getElementById("id_inst_type").checked = false;
                        document.getElementById("lbl_inst_type").innerHTML = "Cheque";
                        document.getElementById("id_chq").focus();
                    }

                    if (objCells[9].innerHTML == "S") {
                        $("#tr_slip_amt").show();
                        $("#tr_chq_amt").hide();
                        $("#tr_date").hide();
                        $("#tr_iqa_uv").hide();
                    }
                    else {
                        $("#tr_slip_amt").hide();
                        $("#tr_chq_amt").show();
                        $("#tr_date").show();
                        $("#tr_iqa_uv").show();
                    }

                    if (BankCode == "240") {
                        if (Scanning_Type == "1") {
                            if (objCells[9].innerHTML == "C")
                                $("#tr_input_payeename").hide();
                            else
                                $("#tr_input_payeename").show();
                        }
                        else
                            $("#tr_input_payeename").hide();
                    }
                    else {
                        $("#tr_input_payeename").hide();
                    }

                    document.getElementById("AccountNo").value = objCells[0].innerText;

                    document.getElementById("FG").src = objCells[12].innerText;
                    document.getElementById("optionsRadios1").checked = true;

                    document.getElementById("id_chq").value = objCells[5].innerText;
                    document.getElementById("id_sort").value = objCells[6].innerText;
                    document.getElementById("id_san").value = objCells[7].innerText;
                    document.getElementById("id_tr").value = objCells[8].innerText;

                    document.getElementById("date").value = objCells[4].innerText;
                    document.getElementById("slip_amt").value = objCells[2].innerText;
                    document.getElementById("chq_amt").value = objCells[3].innerText;

                    //debugger;
                    var iqa = objCells[14].innerText.toUpperCase();
                    if (iqa == "PASS")
                        document.getElementById("btn_iqa").checked = true;
                    else
                        document.getElementById("btn_iqa").checked = false;
                    change_iqa();

                    var uv = objCells[15].innerText.toUpperCase();
                    if (BankCode == "240") {
                        if (uv == "PASS")
                            document.getElementById("btn_uv").checked = true;
                        else
                            document.getElementById("btn_uv").checked = false;
                    }
                    else
                        document.getElementById("btn_uv").checked = true;
                    change_uv();

                    var ir = objCells[16].innerText.toUpperCase();
                    if (ir == "PASS")
                        document.getElementById("btn_ir").checked = true;
                    else
                        document.getElementById("btn_ir").checked = false;
                    change_ir();

                    var ml = objCells[17].innerText.toUpperCase();
                    if (ml == "PASS")
                        document.getElementById("btn_ml").checked = true;
                    else
                        document.getElementById("btn_ml").checked = false;
                    change_ml();

                    // Scheme Code
                    document.getElementById("FinScheme").innerHTML = objCells[18].innerText;

                    // MOP
                    document.getElementById("FinMOP").innerHTML = objCells[20].innerText;

                    // Acc Owner
                    document.getElementById("FinAccOwner").innerHTML = objCells[23].innerText;

                    GetPayeee('CTS');
                    setTableData();

                    //var validPassed = document.getElementById("valid_" + GlobalRowNo).innerHTML;
                    //if (validPassed != "TRUE")
                    //    GetPayeee('CTS');
                }

            }

        }

    });

</script>