
@{
    ViewBag.Title = "TrfCheckerList";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<input type="hidden" id="tellerDetails" value="@Session["Login_Page_Id"].ToString()" />

<input type="hidden" id="startlimit" value="@Session["CheckerStartLimit"].ToString()" />
<input type="hidden" id="stoplimit" value="@Session["CheckerStopLimit"].ToString()" />

<input type="hidden" id="startlimit_l3" value="@Session["CheckerStartLimit_l3"].ToString()" />
<input type="hidden" id="stoplimit_l3" value="@Session["CheckerStopLimit_l3"].ToString()" />

<input id="urlVal" value="@ViewBag.URL" hidden />
<input id="WebImageUrlVal" value="@ViewBag.WebImageURL" hidden />
<input id="PhysicalImageUrlVal" value="@ViewBag.PhysicalImageURL" hidden />

<input id="bankcode" name="bankcode" value="@Session["BankCode"]" hidden />
<input id="L3StartLimit" value="@Session["l3startlimit"]" hidden />

<script type="text/javascript">

    var rooturl = '@Url.Content("~/")';

    $(document).ready(function () {

        $.ajax({
            type: "POST",
            url: rooturl + "Home/ValidateSession",
            data: {},
            datatype: "json",
            success: function (data) {
                if (data == "False") {
                    window.location = rooturl + "Home/LoginiBAS?cond=1";
                }
            }
        });

        var x = document.getElementById("urlVal").value;
        var y = "getRtgsList";
        var userId = document.getElementById("tellerDetails").value;

        //debugger;

        var today = new Date();
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
        var yyyy = today.getFullYear();

        var bankcode = document.getElementById("bankcode").value;

        today = yyyy + '/' + mm + '/' + dd;
        //today = yyyy + '/08/30';

        var L3StartAmount = document.getElementById("L3StartLimit").value;

        $.ajax({
            url: x + y,
            //headers: authHeaders,
            type: 'POST',
            data: { tellerId: userId, Date_Time: today, ApiCall: 'START', BankCode: bankcode, ImgType: 'TRF', L3StartAmount: L3StartAmount },
            success: function (result) {
                WithdrawList(result);
            },
            error: getError
        });
    });


    function getError(result) {

        var rooturl = '@Url.Content("~/")';

        if (result.status == 401 && result.statusText == "Unauthorized") {
            alert(result.responseText);
            window.location = rooturl + "home/Login";
        }
        else {
            alert(result.responseText);
        }
    }


    function WithdrawList(printer) {
        debugger;
        // Iterate over the collection of data,below line for removing table data except header
        //$("#myRecordDatatable").find("tr:gt(0)").remove();
        $("#myDatatable").find("tr:gt(0)").remove();
        $.each(printer, function (index, print) {
            // Add a row to the Product table
            AddRecordRow(print);
        });
    }


    function AddRecordRow(print) {
        debugger;
        // Check if <tbody> tag exists, add one if not
        if ($("#myDatatable tbody").length == 0) {
            $("#myDatatable").append("<tbody></tbody>");
        }
        // Append row to <table>
        $("#myDatatable tbody").append(
            RecordTableRow(print));
    }


    function RecordTableRow(print) {
        debugger;
        //$("#myDatatable tr").remove();

        var loginId = document.getElementById("tellerDetails").value;

        if (print.RecordCount != null) {
            debugger;
            var ret;

            var l3amt_limit = parseFloat(document.getElementById("L3StartLimit").value);

            var RetRow =
                "<tr>" +
                '<td style="text-align:center;font-size: 14px;"> <div id="count_id_' + print.RecordCount + '">' + print.count_id + '</div></td>' +
                /*'<td style="text-align:center;font-size: 14px;">' + print.transactionrefno + '</td>' +*/
                '<td style="text-align:center;font-size: 14px;">' + print.transactionrefno + '</td>' +
                '<td style="text-align:center;font-size: 14px;">' + print.CreditAccno + '</td>' +
                '<td style="text-align:center;font-size: 14px;">' + print.PayeeName + '</td>' +
                '<td style="text-align:center;font-size: 14px;">' + print.Amount + '</td>' +
                '<td style="text-align:center;font-size: 14px;">' + print.tellerId + '</td>' +
                '<td style="text-align:center;font-size: 14px;">' + print.checker + '</td>' +
                '<td style="text-align:center;font-size: 14px;">' + print.checker_l3 + '</td>';


            if (print.Status == "2" && print.tellerId != loginId &&
                (parseInt(document.getElementById("startlimit").value) <= parseInt(print.Amount) && parseInt(print.Amount) <= parseInt(document.getElementById("stoplimit").value))) {
                RetRow = RetRow +
                    '<td style="text-align:center;font-size: 14px; background-color: yellow;">' + print.FormStatus + '</td>' +
                    '<td style="text-align:center;"> <input type="button" id="btnVerify" value="Verify" class="btn" style="color:white;font-size: 12px; padding: 1px; width: 75px;" onclick="VerifyData(' + print.count_id + ');" /> </td>'
                "</tr>";
            }
            else if (print.Status == "2") {
                RetRow = RetRow +
                    '<td style="text-align:center;font-size: 14px; background-color: yellow;">' + print.FormStatus + '</td>' +
                    '<td style="text-align:center;"> <input type="button" id="btnVerify" value="Verify" class="btn" style="color:white;font-size: 12px; padding: 1px; width: 75px;" onclick="VerifyData(' + print.count_id + ');" disabled /> </td>'
                "</tr>";
            }
            else if (print.Status == "20" && print.checker == loginId) {
                RetRow = RetRow +
                    '<td style="text-align:center;font-size: 14px; background-color: orange;">' + print.FormStatus + '</td>' +
                    '<td style="text-align:center;"> <input type="button" id="btnVerify" value="Verify" class="btn" style="color:white;font-size: 12px; padding: 1px; width: 75px;" onclick="VerifyData(' + print.count_id + ');" /> </td>'
                "</tr>";
            }
            else if (print.Status == "20") {
                RetRow = RetRow +
                    '<td style="text-align:center;font-size: 14px; background-color: orange;">' + print.FormStatus + '</td>' +
                    '<td style="text-align:center;"> <input type="button" id="btnVerify" value="Verify" class="btn" style="color:white;font-size: 12px; padding: 1px; width: 75px;" onclick="VerifyData(' + print.count_id + ');" disabled /> </td>'
                "</tr>";
            }
            else if (print.Status == "21") {
                RetRow = RetRow +
                    '<td style="text-align:center;font-size: 14px; background-color: red;">' + print.FormStatus + '</td>' +
                    '<td style="text-align:center;"> </td>'
                "</tr>";
            }
            else if (print.Status == "22" && parseInt(print.Amount) < l3amt_limit) {
                RetRow = RetRow +
                    '<td style="text-align:center;font-size: 14px; background-color: lightgreen;">' + print.FormStatus + '</td>' +
                    '<td style="text-align:center;"> </td>'
                "</tr>";
            }
            else if (print.Status == "22" && parseInt(print.Amount) >= l3amt_limit && (print.tellerId == loginId || print.checker == loginId)) {
                RetRow = RetRow +
                    '<td style="text-align:center;font-size: 14px; background-color: yellow;">' + print.FormStatus + '</td>' +
                    '<td style="text-align:center;"> <input type="button" id="btnVerify" value="Verify" class="btn" style="color:white;font-size: 12px; padding: 1px; width: 75px;" onclick="VerifyData_L3(' + print.count_id + ');" disabled /> </td>'
                "</tr>";
            }
            else if (print.Status == "22" && parseInt(print.Amount) >= l3amt_limit && print.tellerId != loginId && print.checker != loginId
                && (parseInt(document.getElementById("startlimit_l3").value) <= parseInt(print.Amount) && parseInt(print.Amount) <= parseInt(document.getElementById("stoplimit_l3").value))) {
                RetRow = RetRow +
                    '<td style="text-align:center;font-size: 14px; background-color: yellow;">' + print.FormStatus + '</td>' +
                    '<td style="text-align:center;"> <input type="button" id="btnVerify" value="Verify" class="btn" style="color:white;font-size: 12px; padding: 1px; width: 75px;" onclick="VerifyData_L3(' + print.count_id + ');" /> </td>'
                "</tr>";
            }
            else if (print.Status == "23" && print.checker_l3 == loginId) {
                RetRow = RetRow +
                    '<td style="text-align:center;font-size: 14px; background-color: orange;">' + print.FormStatus + '</td>' +
                    '<td style="text-align:center;"> <input type="button" id="btnVerify" value="Verify" class="btn" style="color:white;font-size: 12px; padding: 1px; width: 75px;" onclick="VerifyData_L3(' + print.count_id + ');" /> </td>'
                "</tr>";
            }
            else if (print.Status == "23" && print.checker_l3 != loginId) {
                RetRow = RetRow +
                    '<td style="text-align:center;font-size: 14px; background-color: orange;">' + print.FormStatus + '</td>' +
                    '<td style="text-align:center;"> <input type="button" id="btnVerify" value="Verify" class="btn" style="color:white;font-size: 12px; padding: 1px; width: 75px;" onclick="VerifyData_L3(' + print.count_id + ');" disabled /> </td>'
                "</tr>";
            }
            else if (print.Status == "24") {
                RetRow = RetRow +
                    '<td style="text-align:center;font-size: 14px; background-color: red;">' + print.FormStatus + '</td>' +
                    '<td style="text-align:center;"> </td>'
                "</tr>";
            }
            else if (print.Status == "25") {
                RetRow = RetRow +
                    '<td style="text-align:center;font-size: 14px; background-color: lightgreen;">' + print.FormStatus + '</td>' +
                    '<td style="text-align:center;"> </td>'
                "</tr>";
            }
            else {
                RetRow = RetRow +
                    '<td style="text-align:center;font-size: 14px; background-color: red;">' + print.FormStatus + '</td>' +
                    '<td style="text-align:center;"> <input type="button" id="btnVerify" value="Verify" class="btn" style="color:white;font-size: 12px; padding: 1px; width: 75px;" onclick="VerifyData(' + print.count_id + ');" disabled /> </td>'
                "</tr>";
            }

            return RetRow;
        }
        else {
            var ret = null;

            alert("No Records Found!!!!!!");

            return ret;
        }
    }

    function VerifyData(recordId) {
        //debugger;
        var rooturl = '@Url.Content("~/")';

        window.open(rooturl + "TransferCts/TrfVerificationForm?verf=1&cid=" + recordId, "_self");

    }

    function VerifyData_L3(recordId) {
        //debugger;
        var rooturl = '@Url.Content("~/")';

        window.open(rooturl + "TransferCts/TrfVerificationForm?verf=2&cid=" + recordId, "_self");

    }

</script>

<div class="main-content-inner">
    <div class="page-content">
        <div class="page-header">
            <h1>
                Transfer Checker List
            </h1>
        </div>

        <div class="page-content">

            @*<div class="row" style="margin-left: .5%;">
                    <input type="button" id="btnVerify" value="Reload Status" class="btn" style="color:white;font-size: 13px; padding: 2px; width: 95px;" onclick="ReloadStatus('1');" />
                    <input type="button" id="btnReset" value="Reset All" class="btn" style="background-color: black; color: white; font-size: 13px; padding: 2px;" onclick="getReset();" />
                    <input type="button" id="btnResend" value="Resend" class="btn" style="background-color: black; color: white; font-size: 13px; padding: 2px;" onclick="resendRequest();" />
                </div>
                <br />*@
            <div class="row">
                @using (Html.BeginForm())
                {
                    <div style="margin-left:.5%;background-color:white" class="tablecontainer" id="tableDiv">
                        <table id="myDatatable" class="table table-bordered table-striped table-hover" style="width:100%">
                            <thead>
                                <tr>
                                    <th style="text-align: center; border: double; font-size: 14px;">Data Id</th>
                                    @*<th style="text-align: center; border: double; font-size: 14px;">Reference No</th>*@
                                    <th style="text-align: center; border: double; font-size: 14px;">Reference Id</th>
                                    <th style="text-align: center; border: double; font-size: 14px;">Credit Acc No</th>
                                    <th style="text-align: center; border: double; font-size: 14px;">Payee Name</th>
                                    <th style="text-align: center; border: double; font-size: 14px;">Amount</th>
                                    <th style="text-align: center; border: double; font-size: 14px;">Data Entry By</th>
                                    <th style="text-align: center; border: double; font-size: 14px;">L2 Verified By</th>
                                    <th style="text-align: center; border: double; font-size: 14px;">L3 Verified By</th>
                                    <th style="text-align: center; border: double; font-size: 14px;">Status</th>
                                    <th style="text-align: center; border: double; font-size: 14px;"></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                }
            </div>
        </div>
    </div>
</div>